$text-color: chartreuse;
$title-hero-text-color: aqua;
$text-color: chartreuse;

.title-hero {
  color: $title-hero-text-color;
}

h1 {
  color: $text-color;
}
h2 {
  color: $text-color;
}
body.show-modal {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
body.show-modal.backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
//синтаксис вложенности для css
div {
  background: #fff;
  @nest section & {
    color: red;
  }
}
div {
  flex-direction: column;

  @media (min-width: 40rem) {
    & {
      flex-direction: row;
    }
  }
}
main :is(h1, h2, h3) {
  font-family: fantasy;
  font-style: italic;
}


.mimimi {
  font-style: italic;
}