// $wrapper-padding:
// $padding: #{$e};

@mixin padding($e) {
  padding: 0 #{$e}px;
}

// @import 'base';
//Прижимаем футер к низу
html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  @include padding(15);
}

.tags__btn--active {
  background-color: aqua;
}

// .move-btn {
//   padding: 5px 15px;
//   display: block;
//   border: none;
//   border-radius: 4px;
//   background-color: firebrick;
//   color: snow;
// }
// .moving-box {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 70px;
//   height: 70px;
//   margin-top: 50px;
//   border-radius: 50%;
//   background-color: lightgreen;
// }
@import "bubbling";

.js-container {
  display: flex;
}

.box {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.item-red {
  background-color: red;
}

.item-green {
  background-color: green;
}

.item-black {
  background-color: black;
}

.container {
  display: flex;
  margin: 100px 50px 50px 50px;

}

.content {
  width: 158px;
  margin: 0 auto;
  border: 1px solid black
}

.item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
  transition: background .1s;
}