html,
div {
  display: grid;
}

body {
  background-color: #292929ff;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

img {
  width: 200px;
  height: 200px;
  color: #8829e0;
}

a {
  text-decoration: none;
  color: #6b6868;
}

.box {
  width: 200px;
  justify-content: center;
  font-size: 24px;
}

.box button {
  margin-bottom: 10px;
}

.js-value {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.back {
  border: none;
  background: green;
  width: 200px;
}

.back a {
  color: aliceblue;
  text-decoration: none;
}

.js-decrement {
  padding: 0;
  width: max-content;
}

.js-increment {
  padding: 0;
  width: max-content;
}

#counter-1,
#counter-2 {
  display: block;
}

.js-button {
  margin-bottom: 20px;
}

.js-actions button {
  margin-bottom: 10px;

}

.js-actions__option {
  margin-bottom: 10px;

}

.hero__image {
  width: 150px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  display: block;
  max-width: 100%;
}

.site-nav__link--current {
  color: #8829e0;
}

.title-color {
  color: #00ffff;
}

.img {
  display: block;
  width: 300px;
  height: auto;
}

.js-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.js-container li {
  margin: 8px;
}

.container {}

.main-title {}

.description {
  max-width: 400px;
}

.list {}

.list__item {
  /* color: #ff0000; */
  /* list-style: '💙'; */
  /* transition: all 2s; */
}

.list__item:hover {
  /* color: #ff0000; */
  /* list-style-type: '💛'; */
}

.container {}

.main-title {}

.js-main-title {}

.description {}

.js-desc {}

.some-img {
  display: block;
  width: 600px;
  height: auto;
  margin-bottom: 20px;
}

.js-img {}

.swap-image-btn {
  margin-bottom: 20px;
}

.js-swap-image-btn {}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.js-backdrop {}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  min-height: 360px;
  /* padding: 10px 20px; */
  background-color: #fff;
}

.is-backdrop-open {
  opacity: 1;
  /*v:v*/
  visibility: visible;
  pointer-events: auto;
  /*snippet poi:au*/
  /*pointer-events: none; на события не будет реагировать*/
}

.modal-btn {
  margin-top: 10px;
  padding: 10px 15px;
  /*emmet*/
  /* p10-15>padding: 10px 15px; */
  border: none;
  border-radius: 4px;
  /*bdrs4 emmet*/
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  /* color: #fff; */
  transition: background-color 250ms lines;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #7f8c8d;
}
.modal-img{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}