@import 'base';

input {
  // caret-color: rgb(238, 228, 228);
  // caret-style: block;
  border-right: 1px solid transparent;
}

input:focus {
  animation: PulseAttention 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards infinite;
}

@keyframes PulseAttention {
  50% {
    border-color: #ff0000;
  }
}

input:not([value=''])~.fb-Search_Label {
  justify-content: flex-end;
}

input:not([value=''])~.fb-Search_Label {
  justify-content: flex-end;
}

.my-Input {
  border-right: 1px solid transparent;
}

.my-Input:focus {
  animation: PulseAttention 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards infinite;
}

@keyframes PulseAttention {
  50% {
    border-color: #ff0000;
  }
}

.my-Input {
  color: #ffffff;
  /*Means both the text and caret will be white*/
  background-color: #ffffff;
  text-shadow: 0 0 2px #888;
}

.fb-Search_Input:not([value=''])~.fb-Search_Label {
  justify-content: flex-end;
}

@mixin img-mask($clip-path, $scale, $s) {
  clip-path: $clip-path;

  &__img {
    transition: transform #{$s}s ease-in-out;

    &:hover {
      transform: scale($scale);
    }
  }
}

//что бы картинка увеличивалась не выходя за рамки размеров нужно накладывать дополнительный
//html элемент и накладывать маску

.item {
  @include img-mask(polygon(0 0, 100% 0, 100% 100%, 0% 100%), 1.5, 1);
  color: #ff0000;
}



// .js-img-container {
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

// }
// .js-img {
//   filter: none;
//   transition: all 0.5s ease-in-out;
//   &:hover {
//     // clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
//     transform: scale(1.3);
//   }
// }